.mat-toolbar {
    width: 70%;
    margin: auto;
}

.wrapper {
    display: flex;
    align-items: center;
    height: 10vh;
    top: 0;
    background-color: #FAFAFA;
    color: #1e3a5f;
    position: fixed;
    width: 100%;
    z-index: 3;
    filter: drop-shadow(0 0 1px gray);
}

.header {
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.left {
    display: flex;
}
