.mat-toolbar {
    height: 100%;
    display: flex;
    background-color: #e3f2fd;
    color: #1e3a5f;
}

.wrapper {
    height: 100%;
}

.header {
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.left {
    display: flex;
}
