.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: fit-content;
    flex-wrap: wrap;
    gap: 30px;
    align-items: start;
}

.course-card {
    transition: transform 0.3s ease;
}
.course-card:hover {
    transform: scale(1.02);
}
