<div class="wrapper">
    <mat-card *ngIf="course && progress">
        <mat-card-title>{{course.title}}</mat-card-title>
        <mat-card-content>
            {{course.description}}
        </mat-card-content>

        <mat-divider></mat-divider>
        
        <div class="bottom-area">
            <div class="progress-area">
                <span>{{progress.completed}} / {{progress.total}} completed</span>
                <mat-progress-bar mode="determinate" [value]="progressPercent"></mat-progress-bar>
            </div>
            <div class="buttons-area">
                @if (progressPercent !== 100) {
                    <button class="leave-button" mat-flat-button (click)="unEnroll()">Leave Course<mat-icon>logout</mat-icon></button>
                }
                @else {
                    <button class="completed-button" mat-flat-button>Completed<mat-icon>checked</mat-icon></button>
                }
                <button (click)="redirectToCourse()" class="view-button" mat-raised-button>View Course</button>
            </div>
        </div>
    </mat-card>
</div>