mat-card {
    width: 60vw;
    height: 25vh;
    min-width: 600px;
    min-height: 230px;
    background-color: white;
    filter: drop-shadow(0 0 1px red);
    padding: 20px;
}

.bottom-area {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    gap: 30px;
}

.leave-button {
    flex: 1;
    border-radius: 10px;
    background-color: #d32f2f !important;
}

.completed-button {
    flex: 1;
    border-radius: 10px;
    background-color: #4CAF50 !important;
}

.view-button {
    flex: 1;
    border-radius: 10px;
    background-color: #1976d2 !important;
    color: white;
}

.progress-area {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.buttons-area {
    display: flex;
    gap: 10px;
    flex: 1;
}

.wrapper {
    margin: 3vw;
}