.header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 8vh;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 4vh;
    margin: 35px 0 15px 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.badge {
    font-size: 2.2vh;
    width: fit-content;
    padding: 10px;
    background-color: #D1EBFF;
    color: #3B82F6;
    border-radius: 30px;
    padding: 5px 10px 5px 10px;
    margin: 10px;
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.content-wrapper {
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    max-width: 70%;
    min-width: 720px;
}

.videos {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;

}

.app-lesson {
    flex: 0 0 50%;
    min-width: 350px;
    box-sizing: border-box;
}

.app-lesson:nth-child(even) {
    transform: translateY(50%);
}