<div *ngIf="courseModel">
    <div class="header">
        <p class="badge">Course Content</p>
        <h1>{{courseModel.title}}</h1>
        <p>{{courseModel.description}}</p>
    </div>

    <div class="content-wrapper">
        <h2>Course Videos</h2>
        <div class="videos">
            @for (lesson of lessons(); track $index) {
                <app-lesson [userProgress]="userProgress" class="app-lesson" 
                            [lesson]="lesson"
                            [position]="lessons().indexOf(lesson) + 1"></app-lesson>
            }
        </div>
        <p *ngIf="lessons().length === 0">There is currently no content for this course...</p>
    </div>
</div>
