.header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.app-lesson {
    width: 35%;
    min-width: 350px;
}

h1 {
    font-size: 8vh;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 4vh;
    margin: 35px 0 15px 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.badge {
    font-size: 2.2vh;
    width: fit-content;
    padding: 10px;
    background-color: #D1EBFF;
    color: #3B82F6;
    border-radius: 30px;
    padding: 5px 10px 5px 10px;
    margin: 10px;
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.videos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}