.wrapper {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 1fr;
}

.content {
    grid-column: span 6fr;
    height: 100%;
    grid-row: span 1fr;
}

main {
    width: 90%;
    margin: 5vh auto;
}

aside {
    grid-row: span 1fr;
    grid-column: span 1fr;
}

header {
    height: 10vh;
    background-color: black;
}

.main-and-footer {
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: space-between;
}