<div id="page">
    <header>
        <app-header></app-header>
        <mat-progress-bar *ngIf="!isPageLoaded" style="margin-top: 10vh" value="50" mode="indeterminate"></mat-progress-bar>
    </header>

    <div class="wrapper">

        <aside class="advertisement"></aside>

        <div class="content">
            <div class="main-and-footer">
                <main>
                    <router-outlet></router-outlet>
                </main>

                <footer>
                    <p>©️ MatrixDigital 2025</p>
                </footer>
            </div>
        </div>

        <aside class="advertisement"></aside>
    </div>
</div>