<div class="wrapper">
    <div class="text">
        <span class="badge">Transforming Education, Empowering Futures</span>
        <h1>Matrix College - <span class="header-blue">Your Future</span>, Your Pace</h1>
        <p>Discover a world of flexible, high-quality education tailored to your life. 
            At Matrix College, we believe that education should adapt to you, not the other way around.</p>

        <button mat-raised-button>Explore Courses</button>
    </div>

    <div class="image">
        <img src="assets/images/home-header.jpg" alt="home-header">
    </div>
</div>