<div class="wrapper" [matBadge]="badge" matBadgePosition="before">
    <div class="top">
        <img src="assets/images/course-image.jpg">
    </div>
    <div class="bottom">
        <div class="content">
            <span class="date"><mat-icon>schedule</mat-icon>{{course.createdAt | date}}</span>
            <h3>{{course.title}}</h3>
            <p>{{course.description | slice:0:140 }} <span class="read-more-text">{{course.description.length >= 140 ? "... Visit course page to learn more!" : ""}} </span></p>

            <!-- Guest Button -->
            <a *ngIf="!isLoggedIn" mat-stroked-button [routerLink]="link">Learn More ></a>

            <!-- Student Buttons -->
            <div class="buttons" *ngIf="isStudent">
                @if (enrolled) {
                    <button class="enrolled" mat-stroked-button><mat-icon>checked</mat-icon>Enrolled</button>
                }
                @else {
                    <button mat-stroked-button (click)="enroll()">Enroll</button>
                }
                <a mat-stroked-button [routerLink]="link">View Details</a>
            </div>

            <!-- Professor Buttons -->
            <div class="buttons" *ngIf="isProfessor">
                <button mat-stroked-button (click)="editCourse()">Edit</button>
                <a mat-stroked-button [routerLink]="link">View Details</a>
            </div>
        </div>
    </div>
</div>