<div [matBadge]="badge" matBadgePosition="before">
    <mat-card>
        <mat-chip>{{course.createdAt | date}}</mat-chip>
        
        <div class="content">
            <mat-card-title>{{course.title}}</mat-card-title>
            <mat-card-content>
                {{course.description | slice:0:150}} <span class="read-more-text">{{course.description.length >= 150 ? "... Click 'View' for more information" : ""}}</span>
            </mat-card-content>
        </div>
        
        <div class="buttons">
            @if (!enrolled()) {
                <button mat-stroked-button (click)="enroll()">Enroll<mat-icon>login</mat-icon></button>
            }
            @else {
                <button class="enrolled-button" mat-stroked-button>Enrolled<mat-icon>checked</mat-icon></button>
            }
            <a mat-flat-button [routerLink]="link">View<mat-icon>visibilityoutlined</mat-icon></a>
        </div>
    </mat-card>
</div>
