<div>
    <app-home-header></app-home-header>

    <div class="quick-links">
        <h4>Quick Links</h4>

        <div class="link-cards">
            <app-link-card title="Explore Courses" iconName="menu_book"
                text="Browse our extensive catalog of accredited online and on-campus programs."
                link="/courses"></app-link-card>
            <app-link-card title="Join Us!" iconName="people"
                text="Start your application today and take the first step toward your future."
                link="/register"></app-link-card>
        </div>
    </div>

    <div class="featured-courses">
        <h4>Featured Courses</h4>

        <div class="courses" *ngIf="featuredCourses().length > 0">
            @for (featuredCourse of featuredCourses(); track featuredCourse.id) {
                <app-course-card class="course-card" [course]="featuredCourse"></app-course-card>
            }
        </div>
    </div>

    <app-student-reviews></app-student-reviews>
</div>