<mat-card>
    <mat-icon class="icon-play">play_arrow_outlined</mat-icon>

    <mat-chip>#{{position}}</mat-chip>
    <mat-chip class="completed-chip" *ngIf="alreadyWatched()">Completed</mat-chip>

    <mat-card-header>
        <mat-card-title>{{ lesson.title }}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        @if (isEnrolled() || isProfessor()) {
            <button (click)="watchLesson()" mat-raised-button>
                <span *ngIf="alreadyWatched() === true">Watch Again</span>
                <span *ngIf="alreadyWatched() === false">Watch Now</span>
            </button>
        }
        
        @else {
            <button mat-raised-button
            #tooltip="matTooltip"
            matTooltip="Enroll to course to watch"
            [matTooltipPosition]="toolTipPos.value"
            matTooltipHideDelay="100"
            class="button-locked"
            >Watch Now <mat-icon class="icon-lock">locked</mat-icon></button>
        }
    </mat-card-content>
</mat-card>