<div class="wrapper">
    <button [matMenuTriggerFor]="menu" mat-fab>{{userInitials()}}</button>

    <mat-menu class="menu" #menu="matMenu">
        <a routerLink="profile" class="menu-item" mat-menu-item>
            <mat-icon>account_circle</mat-icon>
            <span>My Profile</span>
        </a>
        <button class="menu-item" mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Logout</span>
        </button>

        <hr>

        <div class="menu-email-wrapper">
            <span class="menu-email">{{userEmail()}}</span>
        </div>
    </mat-menu>
</div>