.wrapper {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    font-size: 1.2em;
    font-weight: 400;
    color: #555;
}

.menu-item {
    margin-right: 50px;
}