.table-container {
    margin: 20px 0;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: #ffffff;
}

thead {
    background-color: #f8f9fa;
}

th {
    padding: 12px 15px;
    text-align: left;
    font-weight: 600;
    color: #495057;
    border-bottom: 1px solid #e9ecef;
}

td {
    padding: 20px 15px;
    border-bottom: 1px solid #e9ecef;
    color: #212529;
}

tr:last-child td {
    border-bottom: none;
}

tbody tr:hover {
    background-color: #f0f0f0;
}

.options {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    width: 40%;
    min-width: 300px;
    margin-left: auto;
}

button {
    border-radius: 8px;
    flex: 1;
}

.delete-button {
    background-color: #d32f2f;
}

mat-form-field {
    width: 100%;
}

a {
    color: #1e88e5;
}

.add-lesson-col {
    text-align: center;
    background-color: #ebeaea;
}

.add-lesson-col:hover {
    background-color: #dfdede;
    cursor: pointer;
}

.edit-lesson-save-td {
    display: flex;
    justify-content: center;
    align-items: center;
}

td > button {
    width: 100%;
}

tr > td:nth-child(1) {
    width: 25%;
}

tr > td:nth-child(2) {
    width: 50%;
}

tr > td:nth-child(3) {
    width: 12%;
}

tr > td:nth-child(4) {
    width: 12%;
}