<div class="wrapper">
    <div class="header">
        <h1>Dashboard - {{username}}</h1>
        <h3 class="role-name">{{role}}</h3>
    </div>

    <div class="content">
        <div class="enrollments-area">
            <!-- Student Area -->
            <div *ngIf="isStudent" class="student-content">
                <div class="enrolled-courses-area">
                    <h2>My Enrollments:</h2>
                    <div class="not-completed-area">
                        @if (unfinishedCourses() && unfinishedCourses().length > 0) {
                            @for (course of unfinishedCourses(); track course.id) {
                                <app-enrollment-card [course]="course" [progress]="courseProgress[course.id]" (deleteClicked)="removeEnrollment($event)"></app-enrollment-card>
                            }
                        }
                        @else {
                            <p>You are not enrolled in any courses yet. <a routerLink="/courses">Enroll now!</a></p>
                        }
                    </div>

                    <h2>Completed Courses:</h2>
                    <div class="completed-area">
                        @if (completedCourses() && completedCourses().length > 0) {
                            @for (course of completedCourses(); track course.id) {
                                <app-enrollment-card [course]="course" [progress]="courseProgress[course.id]"></app-enrollment-card>
                            }
                        }
                        @else {
                            <p>You have not completed any courses yet.</p>
                        }
                    </div>
                </div>
            </div>

            <!-- Professor Area -->
            <div *ngIf="isProfessor">
                <h2>Actions panel</h2>
                <div class="actions-area">
                    <app-action-card iconName="add" tooltip="New Course" (actionClicked)="addCourse()"></app-action-card>
                </div>
            </div>
        </div>
    </div>
</div>