<div class="wrapper">
    <h1>Dashboard - {{username}}</h1>

    <div class="content">
        <div class="enrollments-area">
            <!-- Student Area -->
            <div *ngIf="isStudent" class="student-content">
                <div class="enrolled-courses-area">
                    <h2>My Enrollments:</h2>
                    @if (unfinishedCourses() && unfinishedCourses().length > 0) {
                        @for (course of unfinishedCourses(); track $index) {
                            <app-enrollment-card *ngIf="coursesLoaded" [course]="course" [progress]="courseProgress[course.id]" (deleteClicked)="removeEnrollment($event)"></app-enrollment-card>
                        }
                    }
                    @else {
                        <p>You are not enrolled in any courses yet.</p>
                    }

                    <h2>Completed Courses:</h2>
                    @if (completedCourses() && completedCourses().length > 0) {
                        @for (course of completedCourses(); track $index) {
                            <app-enrollment-card *ngIf="coursesLoaded" [course]="course" [progress]="courseProgress[course.id]"></app-enrollment-card>
                        }
                    }
                    @else {
                        <p>You have not completed any courses yet.</p>
                    }
                </div>
            </div>

            <!-- Professor Area -->
            <div *ngIf="isProfessor">
                <h1>Hello, professor</h1>
            </div>
        </div>
    </div>
</div>