.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    flex-wrap: wrap;
    gap: 30px;
    align-items: start;
}

h1 {
    text-transform: capitalize;
    margin: auto;
}

.completed-area, .not-completed-area {
    margin: 3vw;
}

a {
    color: #1A73E8;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    color: #1669C1;
}