html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: #F0F0F0;
}

.mat-mdc-snack-bar-container.popup-error .mdc-snackbar__surface {
    background-color: #DC143C !important;
    color: white !important;
}

.mat-mdc-snack-bar-container.popup-success .mdc-snackbar__surface {
    background-color: #43a047 !important;
    color: white !important;
} 